{% extends 'base.html.twig'%}

{% block title %}
    Modification du profil utilisateur
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="bg-light py-3 px-3" style=" border: 2px solid black; border-radius:30px">
            <h1 style="text-align:center">Modifier mon profil</h1>

            {{form_start(form)}}

            {{form_widget(form)}}

            <p style="text-align:center">
                <button type="submit" class="btn btn-primary">
                    Enregistrer les modifications
                </button>
            </p>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
