{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block body %}


<div class="container mt-5">

            <div class="bg-light py-3 px-3" style = " border: 1px solid black">
                <h1 style = "text-align:center">
                    Nouveau mot de passe
                </h1>


                <form method="post">
                    <div class="form-group">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Entrer votre mot de passe" required>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            Confirmation mot de passe
                        </label>
                        <input type="password" name="cpassword" id="password" placeholder="Veuillez comfirmer votre mot de passe" class="form-control" required>
                    </div>
                    <div class="form-group">
                    <input type="hidden" name="token" value="{{ token }}">
                    </div>
                    <div class="form-group" style = "text-align:center">
                        <button type="submit" class="btn btn-success">
                           Connexion
                        </button>
                    </div>
                </form>
            </div>

        </div>

    
{% endblock %}