.bootstrap-datetimepicker-widget {
    background-color: #f7f7f9;
    border: solid #5a5a5a 1px;
    margin-top:20px;
}

#c2 {
    background-color: white;
    color:black
}

#c2:hover {
    background-color:#919aa1;
}
