body {
    background-image:url("https://cdn.pixabay.com/photo/2016/12/05/19/45/pill-1884777_1280.jpg");
    background-attachment: fixed;
    overflow-x:hidden; /* on empeche le defillement horizontall */
    overflow-y:scroll; /* on accepte le defillement vertical */
}

#c1 {
    background-color: white;

}

a#c1.btn.btn-secondary:hover {
    background-color: #f2f2f2;
}


.reveal-3 #p{
    transform: translate(-0%);
  }

  .reveal-3 #p a{
    display: block;
    color: black;
    text-decoration: none;
    position: relative;
  }
  
  .reveal-3 #p a::after{
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .reveal-3 #p a:hover::after{
      height: calc(100% + 8px)
  }

  .reveal-3 #p a.btn.btn-secondary {
      background-color: white;
  }
  

  #p1 {
      color : black;
      font-size : 2em;
      text-align:center;
  }

  .active {
    font-weight:bold
  }

  
.reveal [class*="reveal-"] {
  opacity : 0!important;
  transform: translateY(30px)!important;
}

[class*="reveal-"]{
  transition: 1s cubic-bezier(.5, 0, 0, 1)!important;
}

.reveal-2 {
  transition-delay : .1s
}

.reveal-3 {
  transition-delay : .2s
}

@media (prefers-reduced-motion: reduce) {
  .reveal [class*="reveal-"] {
      opacity : 1!important;
      transform: translateY(0px)!important;
  }
}

