body {
    background-image:url("https://www.acppav.org/agora/templates/fond_ecran/11.jpg");
    background-attachment: fixed;
}

#c1 {
    background-color: white;

}

a#c1.btn.btn-secondary:hover {
    background-color: #f2f2f2;
}


#p{
    position: absolute;
    top: 85%;
    left: 75%;
    transform: translate(-50%);
  }

  #p a{
    display: block;
    color: black;
    text-decoration: none;
    position: relative;
  }
  
  #p a::after{
    content: "";
    background: white;
      mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
      transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  #p a:hover::after{
      height: calc(100% + 8px)
  }

  #p a.btn.btn-secondary {
      background-color: white;
  }
  

  #p1 {
      color : black;
      font-size : 2em;
      text-align:center;
  }

  .active {
    font-weight:bold
  }
