.vertical {
    border-left : 1px solid black;
    padding-left : 60px;
    margin-right: 30px;

}

body {
    background-image:url("https://cdn.pixabay.com/photo/2016/12/05/19/45/pill-1884777_1280.jpg");
    background-attachment: fixed;
    
    
}



.navbar {
    border-bottom : 5px solid #77b300;
}

.nopadding {
    padding-right: 0;
    margin-right: 0;
    margin-left: 20px;
    
}

.rightA {
    text-align : right;
    
}

a.btn.btn-outline-secondary {
    background-color: white;
}

.descr {
    font-style: italic;
    font-size: 15px;
    text-align: center;
}

.te { 
    margin-right : 60px;
}

.btn-default:hover {
    color:black;

}



.btn-default {
    color: rgba(0,0,0,0.3);
}

.btn-secondary{
    color : black;
    background-color : rgba(255, 255, 255, 0.1);
}

.test {
    margin-top: 4px;
}

.dropdown-menu {
    padding-right: auto;
    background-color : #a3a3a3;


}

.dropdown-item {
    color : rgba(255,255,255,0.5);

}

#footer-content {
    background-color: white;
    border-top : 5px solid #77b300;
}

#copyright {
    background-color: black;
    color:white;
}


    
    html, body {
    height: 100%;
    }
    
    .wrapper 
    {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -20px;
    }
    
    .footer, .push {
    height: 20px;
    }
    
    .footer
    {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
 
    }


    li.nav-item.active a.nav-link {
        position: relative;
        text-decoration: none;
        padding: 10px 0;
      }



    ul li a.active span{
        font-weight: bold;
        color : #77b300;
        font-size : 20px;
        
    }

    
       
      li.nav-item.active a.nav-link:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: black;
        transition: width 500ms ease;
      }
       
      li.nav-item.active a.nav-link:hover:after {
        width: 100%;
      }

      
      #p1 {
        color : black;
        font-size : 2em;
        text-align:center;
    }

      