.vertical {
    border-left : 1px solid black;
    padding-left : 60px;
    margin-right: 30px;

}

.nopadding {
    padding-right: 0;
    margin-right: 0;
    margin-left: 20px;
    
}

.rightA {
    text-align : right;
}

.descr {
    font-style: italic;
    font-size: 15px;
    text-align: center;
}

.te { 
    margin-right : 60px;
}

.btn-default:hover {
    color:white;
}

.btn-default {
    color: rgba(255,255,255,0.5);
}

.btn-secondary{
    color : black;
    background-color : rgba(255, 255, 255, 0.1);
}

.test {
    margin-top: 4px;
}

.dropdown-menu {
    padding-right: auto;
    background-color : #1a1a1a;


}

.dropdown-item {
    color : rgba(255,255,255,0.5);

}