.vertical {
    border-left : 1px solid black;
    padding-left : 60px;
    margin-right: 30px;

}

body {
    background-image:url("https://www.acppav.org/agora/templates/fond_ecran/11.jpg");
    background-attachment: fixed;
    
    
}

a.nav-link:hover {
    background-color:#f2f2f2;
}


.navbar {
    border-bottom : 5px solid #77b300;
}

.nopadding {
    padding-right: 0;
    margin-right: 0;
    margin-left: 20px;
    
}

.rightA {
    text-align : right;
}

.descr {
    font-style: italic;
    font-size: 15px;
    text-align: center;
}

.te { 
    margin-right : 60px;
}

.btn-default:hover {
    color:black;
    background-color:#f2f2f2;
}

.btn-default {
    color: rgba(0,0,0,0.3);
}

.btn-secondary{
    color : black;
    background-color : rgba(255, 255, 255, 0.1);
}

.test {
    margin-top: 4px;
}

.dropdown-menu {
    padding-right: auto;
    background-color : #a3a3a3;


}

.dropdown-item {
    color : rgba(255,255,255,0.5);

}